.wrapper {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

header {
  margin-bottom: 40px;
  height: 78px;
  border-bottom: 2px solid #f3168a;
  background-color: #fff;
}
header .wrapper {
  position: relative;
}
header .wrapper #cart-header-logo {
  float: left;
  padding: 16px 0 12px;
  height: 48px;
}
header .wrapper #cart-header-logo a img {
  height: 48px;
  width: 214px;
}
header .wrapper #cart-header-nav {
  float: right;
  padding-top: 10px;
  padding-right: 5px;
  height: 18px;
  color: grey;
}
header .wrapper #cart-header-nav span {
  display: inline-block;
  margin: 8px 12px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
header .wrapper #cart-header-nav .cart-login {
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
header .wrapper #cart-header-nav .cart-login a {
  text-decoration: none;
  color: grey;
  margin-left: 15px;
}
header .wrapper #cart-header-nav .cart-header-tel {
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
header .wrapper #cart-header-nav .cart-online-service {
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
header .wrapper #cart-header-nav .cart-online-service a {
  text-decoration: none;
  color: grey;
}
header .wrapper #cart-header-nav .cart-vip-service {
  position: relative;
  z-index: 2;
  width: 95px;
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
header .wrapper #cart-header-nav .cart-vip-service span {
  text-decoration: none;
  color: grey;
  margin: 0;
}
header .wrapper ul {
  position: absolute;
  right: 52px;
  bottom: -66px;
  z-index: 1;
  height: 20px;
  list-style: none;
}
header .wrapper ul li {
  display: inline-block;
  margin-left: 25px;
  white-space: nowrap;
}
header .wrapper ul li .cart-right-logo {
  background-image: url(../img/sprites-hash-29a8cdc6.png);
  background-position: -587px -145px;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 1;
  margin-right: 12px;
  vertical-align: top;
  font-size: 20px;
  color: #f66a96;
}
header .wrapper ul li .cart-right-text {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  font-size: 12px;
}

.empty-cart {
  display: none;
  height: 98px;
  padding: 80px 0 60px;
  color: #333;
}
.empty-cart .empty-cart-msg {
  height: 98px;
  line-height: 20px;
  font-size: 14px;
  padding-left: 341px;
  padding-top: 25px;
}
.empty-cart .empty-cart-msg a {
  display: block;
  color: #005ea7;
}

#cart-content #cart-title-tab {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 30px;
  font-weight: 700;
}
#cart-content #cart-title-tab a {
  position: relative;
  bottom: -1px;
  display: inline-block;
  font-size: 16px;
  color: #333;
  padding: 15px 10px;
  margin-right: 10px;
}
#cart-content #cart-title-tab a span {
  font-size: 16px;
}
#cart-content #cart-title-tab a:first-child {
  color: #f10180;
}
#cart-content #cart-title-tab i {
  display: inline-block;
  width: 1px;
  height: 15px;
  border-left: 1px solid #d0d0d0;
  margin-right: 10px;
}
#cart-content #cart-tips {
  margin-bottom: 30px;
}
#cart-content #cart-tips .province {
  font-size: 18px;
  vertical-align: bottom;
  height: 25px;
  max-width: 460px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#cart-content #cart-tips .province em {
  font-weight: 700;
  margin-left: 5px;
}
#cart-content #cart-tips i {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 1px;
  background: #c4c4c4;
}
#cart-content #cart-tips p {
  font-size: 15px;
}
#cart-content #cart-main-info #main-info-goods {
  margin-bottom: 40px;
  background-color: #fff;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title {
  width: 1000px;
  height: 40px;
  border-left: 2px solid #f10180;
  background-color: #f9f9f9;
  font-size: 12px;
  color: #333;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 38px;
  line-height: 38px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul li {
  display: inline-block;
  text-align: center;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul li span {
  font-weight: normal;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul .selling-item {
  padding-left: 14px;
  width: 283px;
  color: #f10180;
  font-size: 16px;
  text-align: left;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul .price-item {
  width: 300px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul .num-item {
  width: 100px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul .subtotal-item {
  width: 145px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-title ul .contral-item {
  padding-right: 15px;
  width: 100px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content {
  padding-bottom: 20px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box {
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  width: 928px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table {
  border-collapse: collapse;
  border-spacing: 0;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr {
  font-size: 12px;
  font-weight: normal;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr a {
  color: #333;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr td {
  padding-top: 15px;
  height: 74px;
  vertical-align: top;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int {
  padding-left: 10px;
  width: 273px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int .goods-items {
  padding-left: 73px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int .goods-items .goods-items-pic {
  float: left;
  margin-left: -73px;
  width: 58px;
  height: 74px;
  border-color: #f0f0f0;
  position: relative;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int .goods-items .goods-items-pic a img {
  display: block;
  overflow: hidden;
  width: 58px;
  height: 74px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int .goods-items .goods-items-title {
  float: left;
  margin-bottom: 5px;
  width: 180px;
  max-height: 32px;
  overflow: hidden;
  font-weight: 400;
  line-height: 16px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-int .goods-items .goods-items-title span {
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  height: 10px;
  line-height: 10px;
  border-right: 1px solid #d0d0d0;
  font-size: 12px;
  color: #f10180;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-price {
  width: 300px;
  text-align: center;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-price .cost-items {
  display: block;
  color: #333;
  position: relative;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-price .cost-items span {
  padding: 0 2px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-price .cost-items strong {
  font-size: 14px;
  font-weight: bold;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-num {
  width: 100px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-num dd {
  height: 28px;
  border: 1px solid #b3b3b3;
  display: inline-block;
  width: 73px;
  background-color: #fff;
  color: #333;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-num dd .details-minus {
  float: left;
  height: 28px;
  width: 21px;
  line-height: 28px;
  background-color: #f9f8f8;
  color: #7d7c7c;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-num dd .details-num {
  float: left;
  height: 28px;
  width: 29px;
  line-height: 28px;
  font-size: 12px;
  border-left: 1px solid #e4e3e3;
  border-right: 1px solid #e4e3e3;
  overflow: hidden;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-num dd .details-add {
  float: left;
  height: 28px;
  width: 21px;
  line-height: 28px;
  color: #7d7c7c;
  background-color: #f9f8f8;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-sub {
  width: 145px;
  text-align: center;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-sub .sub-items {
  display: block;
  color: #f10180;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-sub .sub-items span {
  padding: 0 2px;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-sub .sub-items strong {
  font-size: 14px;
  font-weight: bold;
}
#cart-content #cart-main-info #main-info-goods #info-goods-content .goods-content-box .goods-content-inner table tbody tr .goods-oper {
  text-align: center;
  width: 100px;
}
#cart-content #cart-main-info #main-info-submit {
  margin-bottom: 40px;
}
#cart-content #cart-main-info #main-info-submit #info-submit-button {
  margin: 0 -1px -1px;
  height: 50px;
}
#cart-content #cart-main-info #main-info-submit #info-submit-button .submit-button-total {
  position: relative;
  padding: 14px 270px 14px 20px;
  width: 710px;
  height: 20px;
  border: 1px solid #e2e1e1;
  background-color: #f3f3f3;
}
#cart-content #cart-main-info #main-info-submit #info-submit-button .submit-button-total .total-count-down {
  position: absolute;
  top: 14px;
  right: 270px;
  z-index: 4;
  margin-right: 12px;
  color: #666;
  font: 14px/20px 'Microsoft Yahei';
}
#cart-content #cart-main-info #main-info-submit #info-submit-button .submit-button-total a {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 250px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 0;
  color: #fff;
  background-color: #f10180;
  border: 1px solid #f10180;
}
#cart-content #cart-main-info #main-info-submit #info-submit-button .submit-button-total a span {
  display: inline-block;
  font-weight: normal;
}

footer {
  font: 12px/1.5;
  display: block;
  clear: both;
  overflow: hidden;
  line-height: 22px;
  padding-top: 0;
  border-top: 1px solid #ebebeb;
  background-color: #fcfcfc;
  color: #4d4d4d;
}

#footer-classify ul {
  overflow: hidden;
}
#footer-classify ul li {
  float: left;
}
#footer-classify ul li .tooter-pic1 {
  background-position: 0px;
}
#footer-classify ul li .tooter-pic2 {
  background-position: -80px;
}
#footer-classify ul li .tooter-pic3 {
  background-position: -160px;
}
#footer-classify ul li .tooter-pic4 {
  background-position: -240px;
}
#footer-classify ul li .tooter-pic5 {
  background-position: -320px;
}
#footer-classify ul li .tooter-pic6 {
  background-position: -400px;
}
#footer-classify ul li .tooter-pic7 {
  background-position: -480px;
}
#footer-classify ul li .tooter-pic8 {
  background-position: -560px;
}
#footer-classify ul li .tooter-pic9 {
  background-position: -640px;
}
#footer-classify ul li .tooter-pic10 {
  background-position: -720px;
}
#footer-classify ul li i {
  display: block;
  margin-top: 30px;
  margin-right: 28px;
  margin-left: 10px;
  width: 58px;
  height: 75px;
  font-size: 0;
  background-image: url(../img/footer_vip.png);
  background-repeat: no-repeat;
}

#footer-list {
  overflow: hidden;
  margin: 37px 0 25px;
  line-height: 20px;
  font-size: 12px;
}
#footer-list dl {
  float: left;
  width: 145px;
  height: 146px;
  padding-left: 16px;
  border-right: 1px solid #e0e0e0;
}
#footer-list dl dt {
  margin-bottom: 4px;
  color: #4d4d4d;
}
#footer-list dl dd {
  color: grey;
  padding-left: 8px;
  cursor: pointer;
  background: url(../img/footer-iac.png) no-repeat -6px -494px;
}
#footer-list dl dd:hover {
  background-position: -6px -513px;
  color: #f10180;
}
#footer-list dl:last-child {
  border-right: 0;
}
#footer-list dl:last-child dt {
  text-indent: 5px;
}
#footer-list dl:last-child dd {
  padding-left: 0px;
  background: none;
  color: #4d4d4d;
}

#footer-info-nav {
  background-color: #d7237e;
  line-height: 30px;
  font-size: 12px;
  color: white;
}
#footer-info-nav ul {
  overflow: hidden;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
#footer-info-nav ul li {
  float: left;
}
#footer-info-nav ul li a {
  margin-left: 4px;
  margin-right: 4px;
  color: white;
}
#footer-info-nav ul li a:hover {
  color: #ccc;
}

#footer-info-text p {
  color: #999999;
  line-height: 19px;
  margin: 14px 0px;
  text-align: center;
  font-size: 12px;
}
#footer-info-text p a {
  color: grey;
}
#footer-info-text p a:hover {
  color: #f10180;
}

#footer-foot {
  padding: 4px 0px;
}
#footer-foot .footer-pic {
  height: 40px;
  text-align: center;
  overflow: hidden;
}
#footer-foot .footer-pic i {
  display: inline-block;
  margin-right: 9px;
  height: 40px;
  background-image: url(../img/footer-iac.png);
  background-repeat: no-repeat;
}
#footer-foot .footer-pic .footer-pic1 {
  width: 105px;
  background-position: 0px 0px;
}
#footer-foot .footer-pic .footer-pic2 {
  width: 99px;
  background-position: 0px -150px;
}
#footer-foot .footer-pic .footer-pic3 {
  width: 66px;
  background-position: 0px -200px;
}
#footer-foot .footer-pic .footer-pic4 {
  width: 70px;
  background-position: 0px -250px;
}
#footer-foot .footer-pic .footer-pic5 {
  width: 75px;
  background-position: 0px -300px;
}
#footer-foot .footer-pic .footer-pic6 {
  width: 76px;
  background-position: 0px -400px;
}
#footer-foot .footer-pic .footer-pic7 {
  width: 76px;
  background-position: 0px -450px;
}

/*# sourceMappingURL=cart.css.map */
