@charset "utf-8";
//购物车主体
main {
    .wrapper {}
}

.empty-cart {
    display: none;
    height: 98px;
    padding: 80px 0 60px;
    color: #333;
    .empty-cart-msg {
        height: 98px;
        line-height: 20px;
        font-size: 14px;
        padding-left: 341px;
        padding-top: 25px;
        a {
            display: block;
            color: #005ea7;
        }
    }
}

#cart-content {
    #cart-title-tab {
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 30px;
        font-weight: 700;
        a {
            position: relative;
            bottom: -1px;
            display: inline-block;
            font-size: 16px;
            color: #333;
            padding: 15px 10px;
            margin-right: 10px;
            span {
                font-size: 16px;
                // font-weight: 700;
            }
        }
        a:first-child {
            color: #f10180;
        }
        i {
            display: inline-block;
            width: 1px;
            height: 15px;
            border-left: 1px solid #d0d0d0;
            margin-right: 10px;
        }
    }
    #cart-tips {
        margin-bottom: 30px;
        .province {
            font-size: 18px;
            vertical-align: bottom;
            height: 25px;
            max-width: 460px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            em {
                font-weight: 700;
                margin-left: 5px;
            }
        }
        i {
            position: absolute;
            top: 1px;
            left: 0;
            height: 18px;
            width: 1px;
            background: #c4c4c4;
        }
        p {
            font-size: 15px;
        }
    }
    #cart-main-info {
        #main-info-goods {
            margin-bottom: 40px;
            background-color: #fff;
            #info-goods-title {
                width: 1000px;
                height: 40px;
                border-left: 2px solid #f10180;
                background-color: #f9f9f9;
                font-size: 12px;
                color: #333;
                ul {
                    border-top: 1px solid #e0e0e0;
                    border-bottom: 1px solid #e0e0e0;
                    border-right: 1px solid #e0e0e0;
                    height: 38px;
                    line-height: 38px;
                    li {
                        display: inline-block;
                        text-align: center;
                        span {
                            font-weight: normal;
                        }
                    }
                    .selling-item {
                        padding-left: 14px;
                        width: 283px;
                        color: #f10180;
                        font-size: 16px;
                        text-align: left;
                    }
                    .price-item {
                        width: 300px;
                    }
                    .num-item {
                        width: 100px;
                    }
                    .subtotal-item {
                        width: 145px;
                    }
                    .contral-item {
                        padding-right: 15px;
                        width: 100px;
                    }
                }
            }
            #info-goods-content {
                padding-bottom: 20px;
                border-left: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                .goods-content-box {
                    margin-right: auto;
                    margin-left: auto;
                    padding-top: 5px;
                    width: 928px;
                    .goods-content-inner {
                        table {
                            border-collapse: collapse;
                            border-spacing: 0;
                            tbody {
                                display: table-row-group;
                                vertical-align: middle;
                                border-color: inherit;
                                tr {
                                    font-size: 12px;
                                    font-weight: normal;
                                    a {
                                        color: #333;
                                    }
                                    td {
                                        padding-top: 15px;
                                        height: 74px;
                                        vertical-align: top;
                                    }
                                    .goods-int {
                                        padding-left: 10px;
                                        width: 273px;
                                        .goods-items {
                                            padding-left: 73px;
                                            .goods-items-pic {
                                                float: left;
                                                margin-left: -73px;
                                                width: 58px;
                                                height: 74px;
                                                border-color: #f0f0f0;
                                                position: relative;
                                                a {
                                                    img {
                                                        display: block;
                                                        overflow: hidden;
                                                        width: 58px;
                                                        height: 74px;
                                                    }
                                                }
                                            }
                                            .goods-items-title {
                                                float: left;
                                                margin-bottom: 5px;
                                                width: 180px;
                                                max-height: 32px;
                                                overflow: hidden;
                                                font-weight: 400;
                                                line-height: 16px;
                                                word-break: break-all;
                                                word-wrap: break-word;
                                                overflow: hidden;
                                                span {
                                                    display: inline-block;
                                                    margin-right: 5px;
                                                    padding-right: 5px;
                                                    height: 10px;
                                                    line-height: 10px;
                                                    border-right: 1px solid #d0d0d0;
                                                    font-size: 12px;
                                                    color: #f10180;
                                                }
                                                a {}
                                            }
                                        }
                                    }
                                    .goods-price {
                                        width: 300px;
                                        text-align: center;
                                        .cost-items {
                                            display: block;
                                            color: #333;
                                            position: relative;
                                            span {
                                                padding: 0 2px;
                                            }
                                            strong {
                                                font-size: 14px;
                                                font-weight: bold
                                            }
                                        }
                                    }
                                    .goods-num {
                                        width: 100px;
                                        dd {
                                            height: 28px;
                                            border: 1px solid #b3b3b3;
                                            display: inline-block;
                                            width: 73px;
                                            background-color: #fff;
                                            color: #333;
                                            vertical-align: top;
                                            text-align: center;
                                            display: inline-block;
                                            .details-minus {
                                                float: left;
                                                height: 28px;
                                                width: 21px;
                                                line-height: 28px;
                                                background-color: #f9f8f8;
                                                color: #7d7c7c;
                                            }
                                            .details-num {
                                                float: left;
                                                height: 28px;
                                                width: 29px;
                                                line-height: 28px;
                                                font-size: 12px;
                                                border-left: 1px solid #e4e3e3;
                                                border-right: 1px solid #e4e3e3;
                                                overflow: hidden;
                                            }
                                            .details-add {
                                                float: left;
                                                height: 28px;
                                                width: 21px;
                                                line-height: 28px;
                                                color: #7d7c7c;
                                                background-color: #f9f8f8;
                                            }
                                        }
                                    }
                                    .goods-sub {
                                        width: 145px;
                                        text-align: center;
                                        .sub-items {
                                            display: block;
                                            color: #f10180;
                                            span {
                                                padding: 0 2px;
                                            }
                                            strong {
                                                font-size: 14px;
                                                font-weight: bold
                                            }
                                        }
                                    }
                                    .goods-oper {
                                        text-align: center;
                                        width: 100px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #main-info-submit {
            margin-bottom: 40px;
            #info-submit-button {
                margin: 0 -1px -1px;
                height: 50px;
                .submit-button-total {
                    position: relative;
                    padding: 14px 270px 14px 20px;
                    width: 710px;
                    height: 20px;
                    border: 1px solid #e2e1e1;
                    background-color: #f3f3f3;
                    .total-count-down {
                        position: absolute;
                        top: 14px;
                        right: 270px;
                        z-index: 4;
                        margin-right: 12px;
                        color: #666;
                        font: 14px/20px 'Microsoft Yahei';
                    }
                    a {
                        position: absolute;
                        top: -1px;
                        right: -1px;
                        width: 250px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        border-radius: 0;
                        color: #fff;
                        background-color: #f10180;
                        border: 1px solid #f10180;
                        span {
                            display: inline-block;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}