@charset "utf-8";
//详情页主体
main {
    // .wrapper {
    //     #details-main {
    //         position: relative;
    //         padding-top: 22px;
    //         z-index: 10;
    //         #details-main-top {
    //             width: 1000px;
    //             padding: 11px 0;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //             white-space: nowrap;
    //             margin-top: -22px;
    //             color: #333;
    //             font-size: 12px;
    //             a {
    //                 text-decoration: none;
    //                 color: #333;
    //             }
    //         }
    //     }
    #details-pic {
        float: left;
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        #details-pic-box {
            position: relative;
            .pic-box-spic {
                width: 420px;
                height: 420px;
                position: relative;
                z-index: 99;
                margin-bottom: 7px;
                background-color: #f7f7f7;
                .pic-box-sf {
                    width: 50px;
                    height: 50px;
                    background: orange;
                    opacity: 0.3;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    visibility: hidden;
                }
            }
            .pic-box-bf {
                width: 400px;
                height: 500px;
                border: 1px solid #000;
                overflow: hidden;
                position: absolute;
                left: 430px;
                top: 0;
                visibility: hidden;
                z-index: 200;
                .pic-box-bpic {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 800px;
                    height: 800px;
                }
            }
            .pic-box-list {
                position: relative;
                width: 420px;
                height: 64px;
                overflow: hidden;
                text-align: center;
                .pic-list-group {
                    display: inline-block;
                    // margin: 0 auto;
                    .pic-list-item {
                        width: 62px;
                        height: 62px;
                        margin: 0 7px 0 0;
                        float: left;
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;
                        border: 1px solid #f2f2f2;
                        background-color: #f7f7f7;
                        img {
                            width: 62px;
                            height: 62px;
                        }
                    }
                    .pic-list-item:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    #details-info {
        float: right;
        width: 550px;
        position: relative;
        z-index: 100;
        min-height: 634px;
        margin-bottom: 40px;
        margin-top: 40px;
        #details-goods-title {
            .goods-title {
                color: #4d4d4d;
                margin-bottom: 10px;
                p {
                    font-size: 16px;
                    color: #333;
                    max-height: 40px;
                    overflow: hidden;
                    line-height: 20px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    font-weight: 700;
                }
            }
        }
        #details-goods-price {
            padding-bottom: 10px;
            .goods-price {
                color: #fff;
                background-color: #f10180;
                background: linear-gradient(to right, #f10180 60%, #fe3b07 100%);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: 48px;
                line-height: 48px;
                padding: 0 20px;
                .goods-slogan {
                    font-size: 20px;
                    margin: 3px 10px 0 0;
                    float: left;
                    display: inline-block;
                    max-width: 120px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                i {
                    font-size: 24px;
                    float: left;
                    line-height: 58px;
                }
                .goods-cost {
                    font-size: 38px;
                    font-family: arial;
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    float: left;
                    display: inline-block;
                }
            }
        }
        #details-goods-button {
            .details-goods-num {
                padding: 11px 10px;
                position: relative;
                height: 30px;
                margin: -1px 0 0 -10px;
                padding-bottom: 10px;
                .num-title {
                    float: left;
                    font-size: 12px;
                    width: 40px;
                    text-align: left;
                    color: #999;
                    line-height: 32px;
                    overflow: hidden;
                }
                dd {
                    float: left;
                    position: relative;
                    height: 28px;
                    border: 1px solid #b3b3b3;
                    display: inline-block;
                    width: 73px;
                    background-color: #fff;
                    color: #333;
                    vertical-align: top;
                    text-align: center;
                    .details-minus {
                        float: left;
                        height: 28px;
                        width: 21px;
                        line-height: 28px;
                        background-color: #f9f8f8;
                        color: #7d7c7c;
                    }
                    .details-num {
                        float: left;
                        height: 28px;
                        width: 29px;
                        line-height: 28px;
                        font-size: 12px;
                        border-left: 1px solid #e4e3e3;
                        border-right: 1px solid #e4e3e3;
                        overflow: hidden;
                    }
                    .details-add {
                        float: left;
                        height: 28px;
                        width: 21px;
                        line-height: 28px;
                        color: #7d7c7c;
                        background-color: #f9f8f8;
                    }
                }
            }
            .details-button {
                margin-bottom: 12px;
                margin-left: 40px;
                margin-top: 20px;
                .details-button-group {
                    height: 46px;
                    margin-right: 20px;
                    position: relative;
                    input {}
                    a {
                        width: 198px;
                        height: 46px;
                        display: block;
                        background-color: #f10180;
                        border: 1px solid #f10180;
                        border-radius: 3px;
                        color: #f10180;
                        position: relative;
                        font-size: 22px;
                        font-weight: 400;
                        color: #fff;
                        text-align: center;
                        line-height: 46px;
                    }
                }
            }
        }
    }
}