@charset "utf-8";
footer {
    .wrapper {
        height: 78px;
        line-height: 78px;
        .footer-info {
            color: #666;
            text-align: center;
            font-size: 12px;
        }
    }
}