@charset "utf-8";
//导航栏
nav {
    clear: both;
    position: relative;
    width: 100%;
    height: 43px;
    line-height: 43px;
    background-color: #fff;
    font-size: 14px;
    color: #fff;
    z-index: 1000;
}

#nav {
    position: relative;
    .h {
        color: #f10180;
    }
    ul {
        height: 43px;
        line-height: 43px;
        font-size: 14px;
        li:first-child {
            display: block;
            padding: 0 10px;
            text-align: center;
            font-size: 16px;
            white-space: nowrap;
            background-color: #f10180;
            width: 156px;
            height: auto;
            margin-right: 20px;
            a {
                img {
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: 6px;
                }
                color: #fff;
            }
        }
        li {
            float: left;
            position: relative;
            a {
                display: block;
                padding: 0 10px;
                text-align: center;
                color: #333;
                font-size: 16px;
                white-space: nowrap;
            }
            .nav-more {
                display: none;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .06);
                background-color: #fff;
                position: absolute;
                right: 0;
                top: 43px;
                overflow: hidden;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                .nav-more-group {
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    height: 43px;
                    // padding: 0 15px;
                    border-radius: 4px;
                    vertical-align: top;
                    overflow: hidden;
                    a {
                        text-decoration: none;
                        vertical-align: top;
                    }
                }
                .nav-more-group a:hover {
                    color: #f10180;
                }
            }
        }
        .active {
            cursor: default;
            font-weight: 700;
            a {
                color: #f10180;
            }
        }
    }
    .nav-sec-group {
        display: none;
        position: absolute;
        ul {
            // overflow: hidden;
            width: 176px;
            background-color: #f10180;
            transition: .2s linear;
            padding: 0 0 1px;
            box-shadow: -2px 2px 3px rgba(0, 0, 0, .1);
            li {
                display: block;
                padding: 0 10px;
                text-align: center;
                font-size: 16px;
                font-weight: normal;
                white-space: nowrap;
                background-color: #f10180;
                width: 156px;
                height: auto;
                margin-right: 20px;
            }
            li:hover {
                background-color: #fff;
                color: #f10180;
            }
        }
    }
    .sec-group-more {
        display: none;
        background-color: #fff;
        position: absolute;
        left: 176px;
        top: 0;
        width: 844px;
        height: 495px;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1);
        .group-list-item {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .list-item-info {
                float: left;
                width: 567px;
                margin: 4px 36px 16px 36px;
                height: 491px;
                overflow: hidden;
                dl {
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding: 5px 0;
                    font-size: 12px;
                    dt {
                        line-height: 22px;
                        position: absolute;
                        left: 0;
                        width: 86px;
                        color: #222;
                        overflow: hidden;
                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 76px;
                            display: inline-block;
                            color: #222;
                        }
                    }
                    dd {
                        line-height: 22px;
                        width: 471px;
                        margin-left: 96px;
                        overflow: hidden;
                        word-break: keep-all;
                        a {
                            color: #666;
                            margin-right: 10px;
                        }
                    }
                    dd a:hover {
                        color: #f10180
                    }
                }
            }
            .list-item-pic {
                float: left;
                .item-pic {
                    width: 205px;
                    height: 495px;
                    a {
                        img {
                            height: 495px;
                        }
                    }
                }
            }
        }
    }
}

.h {
    color: #f10180;
}