@charset "utf-8";
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
}

//购物车
@import "cart-header";
@import "cart-main";
@import "footer_list";
@import "footer_info";