@charset "utf-8";
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

main {
    background: url(../img/background.jpg) no-repeat top center;
}

a:hover {
    color: #f10180;
}

// 引入各部分css文件
@import "header-top-nav";
@import "header-logo";
@import "nav";
@import "main_banner";
@import "main_stairs_must_see";
@import "main_stairs_info";
@import "main_stairs_left";
@import "right_nav";
@import "footer_list";
@import "footer_info";